In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
dangote_df= pd.read_csv('Dangote Cement Stock Price History.csv')
print (dangote_df)

            Date  Price   Open   High    Low     Vol. Change %
0     12/31/2024  478.8  478.8  478.8  478.8   18.28K    0.00%
1     12/30/2024  478.8  478.8  478.8  478.8  222.45K    0.00%
2     12/27/2024  478.8  478.8  478.8  478.8   42.38K    0.00%
3     12/24/2024  478.8  478.8  478.8  478.8   30.49K    0.00%
4     12/23/2024  478.8  478.8  478.8  478.8   57.98K    0.00%
...          ...    ...    ...    ...    ...      ...      ...
1234    1/8/2020  164.0  150.0  164.0  154.1    3.16M    9.33%
1235    1/7/2020  150.0  146.0  152.0  146.1    4.69M    2.74%
1236    1/6/2020  146.0  142.0  146.0  143.0    2.58M    2.82%
1237    1/3/2020  142.0  142.0  142.0  142.0    1.53M    0.00%
1238    1/2/2020  142.0  142.0  142.0  142.0    1.87M    0.00%

[1239 rows x 7 columns]

In [3]:
### Shows the first  row

dangote_df.head()

         Date  Price   Open   High    Low     Vol. Change %
0  12/31/2024  478.8  478.8  478.8  478.8   18.28K    0.00%
1  12/30/2024  478.8  478.8  478.8  478.8  222.45K    0.00%
2  12/27/2024  478.8  478.8  478.8  478.8   42.38K    0.00%
3  12/24/2024  478.8  478.8  478.8  478.8   30.49K    0.00%
4  12/23/2024  478.8  478.8  478.8  478.8   57.98K    0.00%

In [4]:
### Shows the last rows

dangote_df.tail()

          Date  Price   Open   High    Low   Vol. Change %
1234  1/8/2020  164.0  150.0  164.0  154.1  3.16M    9.33%
1235  1/7/2020  150.0  146.0  152.0  146.1  4.69M    2.74%
1236  1/6/2020  146.0  142.0  146.0  143.0  2.58M    2.82%
1237  1/3/2020  142.0  142.0  142.0  142.0  1.53M    0.00%
1238  1/2/2020  142.0  142.0  142.0  142.0  1.87M    0.00%

In [5]:
### Shows number of rows and columns

dangote_df.shape

(1239, 7)

In [6]:
### Shows data statistics

dangote_df.describe

<bound method NDFrame.describe of             Date  Price   Open   High    Low     Vol. Change %
0     12/31/2024  478.8  478.8  478.8  478.8   18.28K    0.00%
1     12/30/2024  478.8  478.8  478.8  478.8  222.45K    0.00%
2     12/27/2024  478.8  478.8  478.8  478.8   42.38K    0.00%
3     12/24/2024  478.8  478.8  478.8  478.8   30.49K    0.00%
4     12/23/2024  478.8  478.8  478.8  478.8   57.98K    0.00%
...          ...    ...    ...    ...    ...      ...      ...
1234    1/8/2020  164.0  150.0  164.0  154.1    3.16M    9.33%
1235    1/7/2020  150.0  146.0  152.0  146.1    4.69M    2.74%
1236    1/6/2020  146.0  142.0  146.0  143.0    2.58M    2.82%
1237    1/3/2020  142.0  142.0  142.0  142.0    1.53M    0.00%
1238    1/2/2020  142.0  142.0  142.0  142.0    1.87M    0.00%

[1239 rows x 7 columns]>

In [7]:
### Shows column names

dangote_df.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [8]:
### Shows datatypes of each column

dangote_df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.         object
Change %     object
dtype: object

In [9]:
### Shows where values are missing

dangote_df.isnull()

       Date  Price   Open   High    Low   Vol.  Change %
0     False  False  False  False  False  False     False
1     False  False  False  False  False  False     False
2     False  False  False  False  False  False     False
3     False  False  False  False  False  False     False
4     False  False  False  False  False  False     False
...     ...    ...    ...    ...    ...    ...       ...
1234  False  False  False  False  False  False     False
1235  False  False  False  False  False  False     False
1236  False  False  False  False  False  False     False
1237  False  False  False  False  False  False     False
1238  False  False  False  False  False  False     False

[1239 rows x 7 columns]

In [10]:
### Shows missing values

dangote_df.isnull().sum()

Date        0
Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
dtype: int64

In [11]:
### Shows duplicates

dangote_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1234    False
1235    False
1236    False
1237    False
1238    False
Length: 1239, dtype: bool

In [12]:
### Counts duplicated rows

dangote_df.duplicated().sum()

0

In [13]:
### Coverting Date column to Date Data Type

dangote_df['Date']=pd.to_datetime(dangote_df['Date'])

In [14]:
### Setting date as index

dangote_df.set_index('Date', inplace=True)

In [15]:
### Removing Spaces(Trim) in columns

dangote_df.columns= dangote_df.columns.str.strip()

In [16]:
### Shows column name

dangote_df.columns

Index(['Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [17]:
### Dropping the Change(%) column.

dangote_df= dangote_df.drop(columns=['Change %'])

In [18]:
### Calling my variables to see changes reflected.
dangote_df

            Price   Open   High    Low     Vol.
Date
2024-12-31  478.8  478.8  478.8  478.8   18.28K
2024-12-30  478.8  478.8  478.8  478.8  222.45K
2024-12-27  478.8  478.8  478.8  478.8   42.38K
2024-12-24  478.8  478.8  478.8  478.8   30.49K
2024-12-23  478.8  478.8  478.8  478.8   57.98K
...           ...    ...    ...    ...      ...
2020-01-08  164.0  150.0  164.0  154.1    3.16M
2020-01-07  150.0  146.0  152.0  146.1    4.69M
2020-01-06  146.0  142.0  146.0  143.0    2.58M
2020-01-03  142.0  142.0  142.0  142.0    1.53M
2020-01-02  142.0  142.0  142.0  142.0    1.87M

[1239 rows x 5 columns]

In [19]:
### Checking my date index datatype

print("index type:",dangote_df.index.dtype)

index type: datetime64[ns]

In [20]:
dangote_df.dtypes

Price    float64
Open     float64
High     float64
Low      float64
Vol.      object
dtype: object

In [21]:
# Cleaning and converting the values in the Volume column


dangote_df['Vol.'] = dangote_df['Vol.'].astype(str).str.upper()  ### Convert Vol. column to string and uppercase everything


clean_volume = []                             # Create an empty list to hold the cleaned numbers


for val in dangote_df['Vol.']:                 #Loop through the values to clean them
    if 'K' in val:
        num = float(val.replace('K', ''))
        clean_volume.append(num * 1000)
    elif 'M' in val:
        num = float(val.replace('M', ''))
        clean_volume.append(num * 1000000)
    else:
        clean_volume.append(float(val))


dangote_df['Vol.'] = clean_volume                    # Assign the cleaned values back to the Vol. column

In [22]:
### To confirm updated data types

dangote_df.dtypes

Price    float64
Open     float64
High     float64
Low      float64
Vol.     float64
dtype: object

In [23]:
dangote_df

            Price   Open   High    Low       Vol.
Date
2024-12-31  478.8  478.8  478.8  478.8    18280.0
2024-12-30  478.8  478.8  478.8  478.8   222450.0
2024-12-27  478.8  478.8  478.8  478.8    42380.0
2024-12-24  478.8  478.8  478.8  478.8    30490.0
2024-12-23  478.8  478.8  478.8  478.8    57980.0
...           ...    ...    ...    ...        ...
2020-01-08  164.0  150.0  164.0  154.1  3160000.0
2020-01-07  150.0  146.0  152.0  146.1  4690000.0
2020-01-06  146.0  142.0  146.0  143.0  2580000.0
2020-01-03  142.0  142.0  142.0  142.0  1530000.0
2020-01-02  142.0  142.0  142.0  142.0  1870000.0

[1239 rows x 5 columns]