# **DATA CLEANING**
 * ### **NESTLE DATASETS**

In [1]:
### Importing my libraries

import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
### Importing dataset 

nestle_df= pd.read_csv('Nestle Nigeria Stock Price History.csv')
print (nestle_df)

            Date     Price      Open High  Low     Vol. Change %
0     12/31/2024       875       875  875  875   13.06K    0.00%
1     12/30/2024       875       875  875  875   45.38K    0.00%
2     12/27/2024       875       875  875  875   27.86K    0.00%
3     12/24/2024       875       875  875  875   10.90K    0.00%
4     12/23/2024       875       875  875  875   22.31K    0.00%
...          ...       ...       ...  ...  ...      ...      ...
1234    1/8/2020  1,469.90  1,469.90    0    0  183.09K    0.00%
1235    1/7/2020  1,469.90  1,469.90    0    0  266.83K    0.00%
1236    1/6/2020  1,469.90  1,469.90    0    0   21.32K    0.00%
1237    1/3/2020  1,469.90  1,469.90    0    0   47.49K    0.00%
1238    1/2/2020  1,469.90  1,469.90    0    0    6.94K    0.00%

[1239 rows x 7 columns]

In [3]:
### Shows the first  row

nestle_df.head()

         Date Price Open High  Low    Vol. Change %
0  12/31/2024   875  875  875  875  13.06K    0.00%
1  12/30/2024   875  875  875  875  45.38K    0.00%
2  12/27/2024   875  875  875  875  27.86K    0.00%
3  12/24/2024   875  875  875  875  10.90K    0.00%
4  12/23/2024   875  875  875  875  22.31K    0.00%

In [4]:
### Shows the last rows

nestle_df.tail()

          Date     Price      Open High Low     Vol. Change %
1234  1/8/2020  1,469.90  1,469.90    0   0  183.09K    0.00%
1235  1/7/2020  1,469.90  1,469.90    0   0  266.83K    0.00%
1236  1/6/2020  1,469.90  1,469.90    0   0   21.32K    0.00%
1237  1/3/2020  1,469.90  1,469.90    0   0   47.49K    0.00%
1238  1/2/2020  1,469.90  1,469.90    0   0    6.94K    0.00%

In [5]:
### Shows number of rows and columns

nestle_df.shape

(1239, 7)

In [6]:
### Shows data statistics

nestle_df.describe

<bound method NDFrame.describe of             Date     Price      Open High  Low     Vol. Change %
0     12/31/2024       875       875  875  875   13.06K    0.00%
1     12/30/2024       875       875  875  875   45.38K    0.00%
2     12/27/2024       875       875  875  875   27.86K    0.00%
3     12/24/2024       875       875  875  875   10.90K    0.00%
4     12/23/2024       875       875  875  875   22.31K    0.00%
...          ...       ...       ...  ...  ...      ...      ...
1234    1/8/2020  1,469.90  1,469.90    0    0  183.09K    0.00%
1235    1/7/2020  1,469.90  1,469.90    0    0  266.83K    0.00%
1236    1/6/2020  1,469.90  1,469.90    0    0   21.32K    0.00%
1237    1/3/2020  1,469.90  1,469.90    0    0   47.49K    0.00%
1238    1/2/2020  1,469.90  1,469.90    0    0    6.94K    0.00%

[1239 rows x 7 columns]>

In [7]:
### Shows column names

nestle_df.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [8]:
### Shows datatypes of each column

nestle_df.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [9]:
### Shows dataset summary

nestle_df.info

<bound method DataFrame.info of             Date     Price      Open High  Low     Vol. Change %
0     12/31/2024       875       875  875  875   13.06K    0.00%
1     12/30/2024       875       875  875  875   45.38K    0.00%
2     12/27/2024       875       875  875  875   27.86K    0.00%
3     12/24/2024       875       875  875  875   10.90K    0.00%
4     12/23/2024       875       875  875  875   22.31K    0.00%
...          ...       ...       ...  ...  ...      ...      ...
1234    1/8/2020  1,469.90  1,469.90    0    0  183.09K    0.00%
1235    1/7/2020  1,469.90  1,469.90    0    0  266.83K    0.00%
1236    1/6/2020  1,469.90  1,469.90    0    0   21.32K    0.00%
1237    1/3/2020  1,469.90  1,469.90    0    0   47.49K    0.00%
1238    1/2/2020  1,469.90  1,469.90    0    0    6.94K    0.00%

[1239 rows x 7 columns]>

In [10]:
### Shows where values are missing

nestle_df.isnull()

       Date  Price   Open   High    Low   Vol.  Change %
0     False  False  False  False  False  False     False
1     False  False  False  False  False  False     False
2     False  False  False  False  False  False     False
3     False  False  False  False  False  False     False
4     False  False  False  False  False  False     False
...     ...    ...    ...    ...    ...    ...       ...
1234  False  False  False  False  False  False     False
1235  False  False  False  False  False  False     False
1236  False  False  False  False  False  False     False
1237  False  False  False  False  False  False     False
1238  False  False  False  False  False  False     False

[1239 rows x 7 columns]

In [11]:
### Shows missing values

nestle_df.isnull().sum()

Date        0
Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
dtype: int64

In [12]:
### Shows duplicates

nestle_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1234    False
1235    False
1236    False
1237    False
1238    False
Length: 1239, dtype: bool

In [13]:
### Counts duplicated rows

nestle_df.duplicated().sum()

0

In [14]:
### Coverting Date column to Date Data Type

nestle_df['Date']=pd.to_datetime(nestle_df['Date'])

In [15]:
### Setting date as index

nestle_df.set_index('Date', inplace=True)

In [16]:
### Removing Spaces(Trim) in columns

nestle_df.columns= nestle_df.columns.str.strip()

In [17]:
### Shows column name

nestle_df.columns

Index(['Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [18]:
### Dropping the Change(%) column.

nestle_df= nestle_df.drop(columns=['Change %'])

In [19]:
### Calling my variables to see changes reflected.
nestle_df

               Price      Open High  Low     Vol.
Date
2024-12-31       875       875  875  875   13.06K
2024-12-30       875       875  875  875   45.38K
2024-12-27       875       875  875  875   27.86K
2024-12-24       875       875  875  875   10.90K
2024-12-23       875       875  875  875   22.31K
...              ...       ...  ...  ...      ...
2020-01-08  1,469.90  1,469.90    0    0  183.09K
2020-01-07  1,469.90  1,469.90    0    0  266.83K
2020-01-06  1,469.90  1,469.90    0    0   21.32K
2020-01-03  1,469.90  1,469.90    0    0   47.49K
2020-01-02  1,469.90  1,469.90    0    0    6.94K

[1239 rows x 5 columns]

In [20]:
### Checking my date index datatype

print("index type:",nestle_df.index.dtype)

index type: datetime64[ns]

In [21]:
nestle_df.dtypes

Price    object
Open     object
High     object
Low      object
Vol.     object
dtype: object

In [22]:
### Convert columns: price,Open, High, Low to float data type

nestle_df['Price']=(nestle_df['Price'].astype(str).str.replace(r'[^\d.]','',regex=True).astype(float))                                                      
nestle_df['Open']=(nestle_df['Open'].astype(str).str.replace(r'[^\d.]','',regex=True).astype(float)) 
nestle_df['High']=(nestle_df['High'].astype(str).str.replace(r'[^\d.]','',regex=True).astype(float))
nestle_df['Low']=(nestle_df['Low'].astype(str).str.replace(r'[^\d.]','',regex=True).astype(float))

In [23]:
# Cleaning and converting the values in the Volume column


nestle_df['Vol.'] = nestle_df['Vol.'].astype(str).str.upper()  ### Convert Vol. column to string and uppercase everything


clean_volume = []                             # Create an empty list to hold the cleaned numbers


for val in nestle_df['Vol.']:                 #Loop through the values to clean them
    if 'K' in val:
        num = float(val.replace('K', ''))
        clean_volume.append(num * 1000)
    elif 'M' in val:
        num = float(val.replace('M', ''))
        clean_volume.append(num * 1000000)
    else:
        clean_volume.append(float(val))


nestle_df['Vol.'] = clean_volume                    # Assign the cleaned values back to the Vol. column

In [24]:
### To confirm updated data types

nestle_df.dtypes

Price    float64
Open     float64
High     float64
Low      float64
Vol.     float64
dtype: object

In [25]:
nestle_df

             Price    Open   High    Low      Vol.
Date
2024-12-31   875.0   875.0  875.0  875.0   13060.0
2024-12-30   875.0   875.0  875.0  875.0   45380.0
2024-12-27   875.0   875.0  875.0  875.0   27860.0
2024-12-24   875.0   875.0  875.0  875.0   10900.0
2024-12-23   875.0   875.0  875.0  875.0   22310.0
...            ...     ...    ...    ...       ...
2020-01-08  1469.9  1469.9    0.0    0.0  183090.0
2020-01-07  1469.9  1469.9    0.0    0.0  266830.0
2020-01-06  1469.9  1469.9    0.0    0.0   21320.0
2020-01-03  1469.9  1469.9    0.0    0.0   47490.0
2020-01-02  1469.9  1469.9    0.0    0.0    6940.0

[1239 rows x 5 columns]